body {
    display: grid;
    width: 400px;
    margin: auto;
    background-color: #f7f2e5;
}

header {
    padding: 25px;
    background-color: #ffffff;
}

select {
    width: 100%;
    padding: 10px;
    background-color: #eaeaea;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M23.245 4l-11.245 14.374-11.219-14.374-.781.619 12 15.381 12-15.391-.755-.609z"/></svg>');
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 12px;
    background-size: 20px;
}

main #player-img {
    background: url(./assets/background_pattern.png) right/74% #ffffff no-repeat;
    padding: 0 15px;
    display: grid;
}

main #player-img img {
    padding-top: 20px;
}

#player-team-flag {
    background: url(./assets/badges_sprite.png) no-repeat;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 6px solid #ffffff;
    margin-top: -50px;
    position: relative;
    margin-left: auto;
    margin-right: 35px;
    margin-bottom: -62px;
}

#player-info {
    background-color: #e90052;
    padding: 25px;
    font-family: "Arial";
}

#player-info #player-info-name {
    font-size: 1.7rem;
    font-weight: 100;
    color: #ffffff;
    margin: 0 0 10px 0;
}

#player-info #player-info-position {
    font-size: 1.2rem;
    color: #ffffff;
    font-weight: 100;
    margin: 0;
}

#player-team-flag.flag-none {
    background-position: 100% 50%;
}

#player-team-flag.flag-21 {
    background-position: -500px -1000px;
}

#player-team-flag.flag-11 {
    background-position: -800px -700px;
}

#player-team-flag.flag-12 {
    background-position: -600px -800px;
}

#player-team-flag.flag-1 {
    background-position: -100px -100px;
}

#player-team-flag.flag-26 {
    background-position: 0 0;
}